fastapi==0.128.0
uvicorn[standard]==0.40.0

# TODO: Add your dependencies here
sqlalchemy>=2.0.25
asyncpg>=0.29.0
pydantic-settings>=2.1.0
redis>=5.0.1
python-json-logger>=2.0.7
prometheus-fastapi-instrumentator>=6.0.0
