spring:
  application:
    name: service-a-backend

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update # create update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  datasource:
    hikari:
      maximum-pool-size: 50  # 동시에 가질 수 있는 커넥션 수 증가
      minimum-idle: 10 # 커넥션 풀의 “항상 유지되는 최소 유휴(Idle) 커넥션 수
      connection-timeout: 3000 # 커넥션 획득 대기 시간 (3초)
      validation-timeout: 1000 # 커넥션 검증 시 최대 1초까지 대기
      leak-detection-threshold: 10000 # 10초 이상 커넥션을 점유하면 경고 (현재 발생 중인 에러 방지)

  # Vault 설정을 최우선으로 가져오도록 명시
  config:
    import: "optional:vault://"

  cloud:
    vault:
      uri: ${VAULT_URI:http://vault:8200}
      token: ${VAULT_TOKEN}
      authentication: APPROLE
      app-role:
        role-id: ${VAULT_ROLE_ID}
        secret-id: ${VAULT_SECRET_ID}
        role: service-a-backend
        app-role-path: approle
      kv:
        enabled: true
        backend: secret
        application-name: service-a-backend
        # 공통 경로(/application) 탐색을 비활성화
        default-context: service-a-backend
        profiles: []

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus,metrics"
  metrics:
    tags:
      application: ${spring.application.name}

resilience4j.circuitbreaker:
  configs:
    default: # 공통 설정
      # 최근 호출 기준 설정
      sliding-window-type: COUNT_BASED
      sliding-window-size: 10
      # 실패율 기준
      failure-rate-threshold: 50
  instances:
    testCircuit:
      baseConfig: default
      register-health-indicator: true
      # 느린 호출 기준 (ms)
      slow-call-duration-threshold: 2000
      slow-call-rate-threshold: 50
      # OPEN 상태 유지 시간
      wait-duration-in-open-state: 10s
      # HALF_OPEN 상태에서 허용 호출 수
      permitted-number-of-calls-in-half-open-state: 3
      # 예외 기록 기준
      record-exceptions:
        - java.lang.Exception
      # 성공으로 간주할 예외 (없음)
      ignore-exceptions: []

# Rate Limit 적용
rate-limit:
  enabled: false # true
