spring:
  application:
    name: service-a-backend
  jpa:
    hibernate:
      ddl-auto: update # create update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

management:
  health:
    circuitbreakers:
      enabled: true # 서킷 브레이커 상태를 /actuator/health에 포함
  endpoints:
    web:
      exposure:
        include: health, prometheus, metrics
  metrics:
    tags:
      application: ${spring.application.name}

resilience4j.circuitbreaker:
  configs:
    default: # 공통 설정
      # 최근 호출 기준 설정
      sliding-window-type: COUNT_BASED
      sliding-window-size: 10
      # 실패율 기준
      failure-rate-threshold: 50
  instances:
    testCircuit:
      baseConfig: default
      register-health-indicator: true
      # 느린 호출 기준 (ms)
      slow-call-duration-threshold: 2000
      slow-call-rate-threshold: 50
      # OPEN 상태 유지 시간
      wait-duration-in-open-state: 10s
      # HALF_OPEN 상태에서 허용 호출 수
      permitted-number-of-calls-in-half-open-state: 3
      # 예외 기록 기준
      record-exceptions:
        - java.lang.Exception
      # 성공으로 간주할 예외 (없음)
      ignore-exceptions: []
