spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:postgresql://postgres:5432/${db.name}
    username: ${db.username}
    password: ${db.password}

  data:
    redis:
      host: redis
      port: 6379

management:
  health:
    db:
      enabled: false
    redis:
      enabled: false
    circuitbreakers:
      enabled: false   # docker healthcheck용 핵심

  endpoint:
    health:
      show-details: never
