server:
  port: 8080

spring:
  application:
    name: service-a
  web:
    resources:
      static-locations: classpath:/static/

management:
  endpoints:
    web:
      exposure:
        include: health,info
